.item{
    display: inline;
    white-space: nowrap;
    color:blue;
}

.jumbotron{
    padding-top: 0px;
    background: rgb(78, 83, 88);
    width: 100%;
    

    
}

input, select, textarea{
    color: #ffffff;
}
textarea:focus, select:focus, input:focus {
    color: #ffffff;
}

option{
    color: rgb(0, 0, 0);
}

td {
    color: white;
}

#index1{
    display:none;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
    display: inline-block;
  }




