footer {
    padding:5px;
    background-image: linear-gradient(to right, #8781BD, #393367);
    //background:rgb(19, 1, 36);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

