.customerList-Container{
    border-style: solid;
    border-color: #3F51B5;
  }
  
  .mat-table{}
  
  .header{
    background: #3F51B5;
    height: 45px;
  }
  
  .mat-18{
    color: red;
  }
  
  .mat-17{
    color: black;
  }

  .btn.btn-default{
    margin: 9px;
    border-style: 3px solid;
    border-color: #3F51B5;
}

