.btn.btn-default{
    margin: 9px;
    border-style: 3px solid;
    border-color: #3F51B5;
  }
  
.mat-form-field {
    font-size: 14px;
    color: #3F51B5;
  }

  .form {
    background-color: #3F51B5;
  }