.attributeListContainer{
  border-style: solid;
  border-color: #3F51B5;
}

.mat-table{}



.mat-18{
  color: black;
}

.mat-17{
  color: black;
}

.mt-3{
  background: #3F51B5 ;
  border-radius: 4px;
  color: white;


}
.mt-1{
  color : white;
  background-color: #3F51B5; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;

}

.mt-1:hover {
  background:  rgb(42, 60, 157) ;
}
