.card {
    background-color:#373E46; color: #ffffff;
    //height: 300px;
    //display: flex;
}

.small {
    color: yellow;
}

// .test {
//     color: #bdbdbd;
//     height: 120px;
// }

.card {
    height : 215px;
}

.card-chart {
    height: 115px;
}


#title {
    color : #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding : 0;
    margin : 0;
}

h3 {
    color : #ffffff;
    font-size: 15px;
    padding : 0;
    margin : 0;
}

